*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{

    display:flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255,211,212,255); */
    background-image: radial-gradient( circle farthest-corner at 11.4% 50%,  rgba(255,37,174,1) 0%, rgba(250,237,56,1) 90% );    /* background-image: url(t3.jpg); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  /* margin: 100px; */

}

.container
{
    border:2px solid rgb(178, 106, 241);
    width: 40%;
    min-width: 350px;
    background-image: linear-gradient( 109.6deg,  rgba(123,90,224,1) 11.2%, rgba(164,46,253,1) 32.6%, rgba(213,56,234,1) 62.7%, rgba(251,138,52,1) 100.2% );
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(137, 137, 137);
}

#newtask
{
    position: relative;
    padding: 30px 20px;
    display : flex;
    justify-content: space-between;
}

#taskinfo{
    width:75%;
    height:40px;
    border: 2px solid rgb(178, 106, 241);
    border-radius: 3px;
    padding-left:5px;
    color: black;
    font-weight:400;
}

#btn
{
    width:20%;
    border-radius: 4px;
    /* background-image: linear-gradient( 108.9deg,  rgba(163,217,221,1) 10.4%, rgba(174,250,182,1) 56.2%, rgba(238,243,220,1) 86.1% ); */
       /* background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%); */
    /* background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%); */
    border :3px solid black;
    background-image: linear-gradient( 108.9deg,  rgba(163,217,221,1) 10.4%, rgba(174,250,182,1) 56.2%, rgba(238,243,220,1) 86.1% );
    cursor:pointer;
    color:black;
    border: none;
}
#btn:hover{
        background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    /* transition-delay: 5ms; */
    transition-duration: 2ms;
}

#tasklist
{
    margin-bottom: 9px;
    padding:10px 20px;
    display:flex;
    flex-direction:column;
    align-items: center;
    width:100%;
}

.task
{
   display: flex;
   justify-content: space-between;
    align-items: center;
    /* background-color: rgba(255,211,212,255); */
    /* background-image: linear-gradient(to right, #fc5c7d, #6a82fb); */
    /* background-image: linear-gradient( 358.4deg,  rgba(249,151,119,1) -2.1%, rgba(98,58,162,1) 90% ); */
    /* background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);     */
    height:45px;
    background-image: linear-gradient( 103.3deg,  rgba(252,225,208,1) 30%, rgba(255,173,214,1) 55.7%, rgba(162,186,245,1) 81.8% );
    margin-bottom: 10px;
    padding:4px 5px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    border:2px solid rgb(178, 106, 241);

}

.del
{
    color:rgb(255, 7, 7);
    border:none;
    background: none;
   
    cursor:pointer;
    outline: none;
}
